/* display background color black on navbar scroll */
.navbarScroll.navbarDark {
    background-color: #3d3d3d;
}

/* landing background image */
.bgimage {
    height: 100vh; /* 100% of viewport height */
    background: url('images/landing.jpg');
    background-size: cover; /* make sure the image always covers the entire container, even if it has to stretch the image or cut a little bit off one of the edge */
    position: relative;
}
/* text css above hero image*/
.landing-title {
    font-size: 4.5rem;
}
.landing-desc {
    font-size: 2rem;
}
.landing-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #3d3d3d;
}

/* spacing on all sections */
/* #about, #services, #portfolio, #contact {
    margin-top: 4rem;
    padding-top: 4rem;
} */

#contact {
    padding-bottom: 4rem;
}
/* about section image css */
.imageAboutPage {
    width: 100%;
}

.card {
    min-height: 700px;
}

.card-title {
    text-align: center;
}

/* social media icons styling */
.social-icons {
    font-size: 36px;
    cursor: pointer;
}
.fa-facebook:hover,.fa-instagram:hover,.fa-twitter:hover,.fa-linkedin:hover, .fa-twitch:hover {
    color: #3d5d9e85;
}
.fab {
    color: #000000;
}
/* footer styling */
#footer {
    background-color: #808080;
    text-align: center;
}